// --------------------------------------------------
// Some global style
// --------------------------------------------------
html {
  height: 100%;
}

body {
  background-color: @background;
  font-family: @ftPrimary;
  height: 100%;
  //color: @white;
}

h1, h2, h3, h4, h5 {
  font-family: @ftSecondary;
  color: @primary;
}

h1, h2 {
  font-weight: normal;
}

h1 {
  margin: 30px 0 50px 0;
}

h2 {
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: normal;
}

h3 {
  font-size: 16px;
}

a {
  color: @primary;
}

#tank-container-spinner {
  top: 10px;
  right: 10px;
  background-color: @greyLight;
  position:  absolute;
}
